@charset "utf-8";
/*Bootstrap CSS Document */

body{
	background-color:#FFF;}
.h500{
	background:#CFF;
	height:1000px;
	}
.p0{
	padding:0;
	}
.m0{margin:0;}
.column{
	color:#CC3;
	height:150px;
	}

.header{
	background-color:#fff;
	height:63px;
	width:1170px;
	}
ul{
	list-style-type:none;
	text-decoration:none;
	}
.logo{height:100%;
width:100%;
}
.h300{
	height:300px;}
.m10{
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:10px;}
#slider{
	margin:auto;
	}
	