html{
    height: 100%;
}
body{
background-image:url(../images/bg.jpg);
background-repeat:repeat;
height:100%;
margin: 0px;
background-color: #f3f3f3;
font-family: Didact Gothic, sans-serif;
}
.baslik{
	font-family: 'Open Sans', sans-serif;
}
.sliderbtn{
	background-color: #fff;
	padding:20px;
	opacity: 0.5;
}
.header {
	background-color:#FFF;
	padding-top: 9px;
	z-index:5;
}
.header2 {
	color:#fff;
	background-color:#427c75;
	height:40px;
	box-shadow: 0px 3px 3px 0px #a0a0a0;
	padding-top:3px;
	z-index: 2;
}
.tekneresmi>a>img {
    height: 204px;
}
.navbar-default {
    background-color: #FFF;
    border-color: #FFF;
	margin-bottom:0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover , .navbar-default .navbar-nav>li>a{
color: #427c75;
}
@media (max-width: 767px) {
	.logo{
	width:85%;
	max-width: 200px;
	}

    .carousel-indicators li{
        width: 5px !important;
        height: 5px !important;
        margin: 0px !important;
    }
}
.carousel-control{
    background-image: none !important;
}
@media (min-width: 768px) {
	.header {
		position:fixed;
		width:100%;
		height:70px;
	}
	.header2{
		position:fixed;
		margin-top:70px;
		width:100%;
		
	}
	.content{
		margin-top:110px;
	}
}
.tekne{
	padding:20px;
	background-color:#fff;
	margin-bottom:20px;
	
	}
.arkaplan{
	background-color:#fff;
	}
.container2{
	background-color:#fff;
	}
.logo2{
	margin-top:90px;
	}
	.sol{
        min-height: 100%;
        background: #FFFFFF;
        padding-bottom: 24px;
		}
	.text{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #333;
    background-color: #FFFFFF;
    opacity: 0.85;
    -moz-opacity: 0.85;
    -webkit-opacity: 0.85;
    position: fixed;
    bottom: 0px;
    right: 40px;
    z-index: 9900;
    padding: 25px;
	position:absolute;
	width:40%;
		}
 
.footer {
    z-index: 81;
    margin: 0 auto;
    padding-top: 20px;
    margin-top: 25px;
    border-top: #666 1px solid;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 14px;
    color: #333;
    text-align: right;
}
.tekneadi{
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 18px;
    color: #427c75;
    font-weight: 700;
    text-decoration: none;
}

.menu{
 font-family: 'Didact Gothic', sans-serif;
    font-size: 22px;
    line-height: 39px;
    text-transform: lowercase;
}
.menu a{
text-decoration: none;
    color: #4597E7;
		
		font-family: 'Didact Gothic', sans-serif;
    font-size: 22px;
    line-height: 39px;
    line-height: 39px;
    text-transform: capitalize;
    padding: 3px 15px !important;
		}
        .menu3 a{
text-decoration: none;
color: #666;
display: inherit!important;        
        font-family: 'Didact Gothic', sans-serif;
    line-height: 39px;
    text-transform: capitalize;
    padding: 3px 15px !important;
        }
	.copyright{
		bottom: 0;
		position: absolute;
	}
	.copyrightmobile{
		bottom: 0;
	}
.menu2{
font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    line-height: 39px;
    text-transform: lowercase;
}
.menu2 a:hover {
    text-decoration: none;
    color: #427c75;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #427c75;
}
.yazi{
font-family: "Didact Gothic", sans-serif;
    font-size: 14px;
    color: #ccc;
}
.tekneaciklamabaslik{
font-family: "Open Sans Condensed", sans-serif;
    font-size: 28px;
    word-spacing: -2px;
    color: #427c75;
    font-weight: 700;
    padding-top: 7px;
    display: inline-block;
}
.altbaslik{
font-family: "Open Sans Condensed", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #3a867d;
}

.bilgiyazisi{
font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

.anasayfacranchi{
    background-color: #211F20;
    padding-top: 10px;
    padding-bottom: 10px;
}
.anasayfacranchi .nav>li>a {
    color: white;

}

.anasayfacranchi .nav>li>a:hover {
    background-color: #211F20;
}

.anasayfacranchi .nav>li>a:focus {
    background-color: #211F20;
}

.anasayfacranchi .nav>li>a:active {
    background-color: #211F20;
}

.anasayfacranchi .nav>li>a:visited {
    background-color: #211F20;
}

.carousel-indicators li{
	width: 20px;
	height: 20px;
	margin: 5px;
}
.carousel-indicators .active{
	width: 20px;
	height: 20px;
	margin: 5px;
}

.satildi {
    position: absolute;
    height: 120px !important;
}


/*Foto galeri için eklenen cssler*/
.thumb-info {

    display: block;

    position: relative;

    text-decoration: none;

    max-width: 100%;

    background-color: #FFF;

    border: 1px solid #DDD;

    border-radius: 4px;

    overflow: hidden;

    -webkit-backface-visibility: hidden;

    -moz-backface-visibility: hidden;

    backface-visibility: hidden;

    -webkit-transform: translate3d(0, 0, 0);

    -moz-transform: translate3d(0, 0, 0);

    transform: translate3d(0, 0, 0);

}



.thumb-info .thumb-info-wrapper {

    -webkit-backface-visibility: hidden;

    -moz-backface-visibility: hidden;

    backface-visibility: hidden;

    -webkit-transform: translate3d(0, 0, 0);

    -moz-transform: translate3d(0, 0, 0);

    transform: translate3d(0, 0, 0);

    border-radius: 4px;

    margin: 4px;

    overflow: hidden;

    display: block;

    position: relative;

}



.thumb-info .thumb-info-wrapper:after {

    content: "";

    background: rgba(23, 23, 23, 0.8);

    -webkit-transition: all 0.3s;

    -moz-transition: all 0.3s;

    transition: all 0.3s;

    border-radius: 4px;

    bottom: -4px;

    color: #FFF;

    left: -4px;

    position: absolute;

    right: -4px;

    top: -4px;

    display: block;

    opacity: 0;

    z-index: 1;

}



.thumb-info .thumb-info-action-icon {

    -webkit-transition: all 0.3s;

    -moz-transition: all 0.3s;

    transition: all 0.3s;

    background: #CCC;

    border-radius: 0 0 0 25px;

    display: inline-block;

    font-size: 25px;

    height: 50px;

    line-height: 50px;

    position: absolute;

    right: -100px;

    text-align: center;

    top: -100px;

    width: 50px;

    z-index: 2;

}



.thumb-info .thumb-info-action-icon i {

    font-size: 24px;

    left: 3px;

    position: relative;

    top: -4px;

    color: #FFF;

}



.thumb-info .thumb-info-inner {

    -webkit-transition: all 0.3s;

    -moz-transition: all 0.3s;

    transition: all 0.3s;

    display: block;

}



.thumb-info .thumb-info-inner em {

    display: block;

    font-size: 0.8em;

    font-style: normal;

    font-weight: normal;

}



.thumb-info .thumb-info-title {

    -webkit-transition: all 0.3s;

    -moz-transition: all 0.3s;

    transition: all 0.3s;

    background: rgba(23, 23, 23, 0.8);

    bottom: 10%;

    color: #FFF;

    font-size: 18px;

    font-weight: 700;

    left: 0;

    letter-spacing: -1px;

    padding: 9px 11px 9px;

    position: absolute;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

    text-transform: uppercase;

    z-index: 2;

    max-width: 90%;

}



.thumb-info .thumb-info-type {

    background-color: #CCC;

    border-radius: 2px;

    display: inline-block;

    float: left;

    font-size: 12px;

    font-weight: 400;

    letter-spacing: 0;

    margin: 8px -2px -15px -2px;

    padding: 2px 9px;

    text-transform: none;

    z-index: 2;

}



.thumb-info .owl-carousel {

    z-index: auto;

}



.thumb-info .owl-carousel .owl-dots {

    z-index: 2;

}



.thumb-info img {

    -webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    transition: all 0.3s ease;

    border-radius: 3px;

    position: relative;

    width: 100%;

}



.thumb-info:hover .thumb-info-wrapper:after {

    opacity: 1;

}



.thumb-info:hover .thumb-info-action-icon {

    right: 0;

    top: 0;

}



.thumb-info:hover .thumb-info-title {

    background: #000;

}



.thumb-info:hover img {

    -webkit-transform: scale(1.1, 1.1);

    -moz-transform: scale(1.1, 1.1);

    -ms-transform: scale(1.1, 1.1);

    -o-transform: scale(1.1, 1.1);

    transform: scale(1.1, 1.1);

}



.thumb-info.thumb-info-no-zoom img {

    -webkit-transition: initial;

    -moz-transition: initial;

    transition: initial;

}



.thumb-info.thumb-info-no-zoom:hover img {

    -webkit-transform: scale(1, 1);

    -moz-transform: scale(1, 1);

    -ms-transform: scale(1, 1);

    -o-transform: scale(1, 1);

    transform: scale(1, 1);

}



.thumb-info.thumb-info-lighten .thumb-info-wrapper:after {

    background: rgba(23, 23, 23, 0.25);

}



.thumb-info.thumb-info-hide-wrapper-bg .thumb-info-wrapper:after {

    display: none;

}



.thumb-info.thumb-info-centered-icons .thumb-info-action {

    -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;

    -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-out;

    transition: transform 0.2s ease-out, opacity 0.2s ease-out;

    transform: translate3d(0, -10px, 0);

    top: 50%;

    left: 3px;

    right: auto;

    bottom: auto;

    width: 100%;

    height: 40px;

    margin-top: -20px;

    text-align: center;

    position: absolute;

    opacity: 0;

    z-index: 2;

}



.thumb-info.thumb-info-centered-icons .thumb-info-action-icon {

    -webkit-transition: all 0.1s ease;

    -moz-transition: all 0.1s ease;

    transition: all 0.1s ease;

    position: relative;

    z-index: 2;

    left: auto;

    right: auto;

    top: auto;

    bottom: auto;

    width: 40px;

    height: 40px;

    line-height: 33px;

    border-radius: 50%;

    margin-right: 3px;

}



.thumb-info.thumb-info-centered-icons .thumb-info-action-icon i {

    position: static;

    font-size: 18px;

}



.thumb-info.thumb-info-centered-icons .thumb-info-action-icon:hover {

    -webkit-transform: scale(1.15, 1.15);

    -moz-transform: scale(1.15, 1.15);

    -ms-transform: scale(1.15, 1.15);

    -o-transform: scale(1.15, 1.15);

    transform: scale(1.15, 1.15);

}



.thumb-info:hover.thumb-info-centered-icons .thumb-info-action {

    transform: translate3d(0, 0, 0);

    opacity: 1;

}



.thumb-info:hover.thumb-info-centered-icons .thumb-info-action-icon {

    position: relative;

}



.thumb-info.thumb-info-centered-info .thumb-info-title {

    background: transparent;

    left: 5%;

    width: 90%;

    -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;

    -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-out;

    transition: transform 0.2s ease-out, opacity 0.2s ease-out;

    transform: translate(0%, -30%);

    top: 50%;

    bottom: auto;

    opacity: 0;

    text-align: center;

    padding: 0;

    position: absolute;

}



.thumb-info.thumb-info-centered-info .thumb-info-type {

    float: none;

}



.thumb-info.thumb-info-centered-info:hover .thumb-info-title {

    opacity: 1;

    transform: translate(0%, -50%);

}



.thumb-info.thumb-info-bottom-info .thumb-info-title {

    background: #FFF;

    left: 0;

    width: 100%;

    max-width: 100%;

    -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;

    -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-out;

    transition: transform 0.2s ease-out, opacity 0.2s ease-out;

    transform: translate3d(0, 100px, 0);

    top: auto;

    bottom: 0;

    opacity: 0;

    padding: 15px;

    text-shadow: none;

    color: #777;

}



.thumb-info.thumb-info-bottom-info .thumb-info-type {

    float: none;

    background: none;

    padding: 0;

    margin: 0;

}



.thumb-info.thumb-info-bottom-info:hover .thumb-info-title {

    transform: translate3d(0, 0, 0);

    opacity: 1;

}



.thumb-info.thumb-info-bottom-info:hover img {

    -webkit-transform: translateY(-18px);

    -moz-transform: translateY(-18px);

    -ms-transform: translateY(-18px);

    -o-transform: translateY(-18px);

    transform: translateY(-18px);

}



.thumb-info.thumb-info-bottom-info-dark .thumb-info-title {

    background: -webkit-linear-gradient( bottom , rgba(23, 23, 23, 0.8) 0, transparent 100%) repeat scroll 0 0 transparent;

    background: linear-gradient(to top, rgba(23, 23, 23, 0.8) 0, transparent 100%) repeat scroll 0 0 transparent;

    color: #FFF;

}



.thumb-info.thumb-info-push-hor img {

    -webkit-transform: translatex(-18px);

    -moz-transform: translatex(-18px);

    -ms-transform: translatex(-18px);

    -o-transform: translatex(-18px);

    transform: translatex(-18px);

    width: calc(100% + 19px);

    max-width: none;

}



.thumb-info.thumb-info-push-hor:hover img {

    -webkit-transform: translatex(0);

    -moz-transform: translatex(0);

    -ms-transform: translatex(0);

    -o-transform: translatex(0);

    transform: translatex(0);

}



.thumb-info.thumb-info-hide-info-hover .thumb-info-wrapper:after {

    opacity: 0.65;

}



.thumb-info.thumb-info-hide-info-hover .thumb-info-title {

    opacity: 1;

    top: 50%;

}



.thumb-info.thumb-info-hide-info-hover .thumb-info-type {

    float: none;

}



.thumb-info.thumb-info-hide-info-hover:hover .thumb-info-wrapper:after {

    opacity: 0.1;

}



.thumb-info.thumb-info-hide-info-hover:hover .thumb-info-title {

    opacity: 0;

}



.thumb-info.thumb-info-no-borders, .thumb-info.thumb-info-no-borders img {

    border: 0;

    padding: 0;

    margin: 0;

    border-radius: 0;

}



.thumb-info.thumb-info-no-borders .thumb-info-wrapper {

    border: 0;

    padding: 0;

    margin: 0;

    border-radius: 0;

}



.thumb-info.thumb-info-no-borders .thumb-info-wrapper:after {

    border-radius: 0;

    bottom: 0;

    left: 0;

    right: 0;

    top: 0;

}



.thumb-info.thumb-info-preview .thumb-info-wrapper:after {

    display: none;

}



.thumb-info.thumb-info-preview .thumb-info-image {

    min-height: 232px;

    display: block;

    background-position: center top;

    background-repeat: no-repeat;

    background-size: 100% auto;

    position: relative;

    transition: background-position 0.8s linear 0s;

}



.thumb-info.thumb-info-preview:hover .thumb-info-image {

    transition: background-position 2.5s linear 0s;

    background-position: center bottom;

}

.img-thumbnail {

    border-radius: 4px;

    position: relative;

}



.img-thumbnail img {

    border-radius: 4px;

}



.img-thumbnail .zoom {

    background: #CCC;

    border-radius: 100%;

    bottom: 8px;

    color: #FFF;

    display: block;

    height: 30px;

    padding: 6px;

    position: absolute;

    right: 8px;

    text-align: center;

    width: 30px;

}



.img-thumbnail .zoom i {

    font-size: 14px;

    left: -1px;

    position: relative;

    top: -3px;

}



.img-thumbnail.img-thumbnail-hover-icon {

    position: relative;
    z-index:0;

}



.img-thumbnail.img-thumbnail-hover-icon img {

    position: relative;

    z-index: 1;

}



.img-thumbnail.img-thumbnail-hover-icon:before {

    -webkit-transition: all 0.2s;

    -moz-transition: all 0.2s;

    transition: all 0.2s;

    background: rgba(0, 0, 0, 0.65);

    border-radius: 4px;

    content: "";

    display: block;

    position: absolute;

    width: 100%;

    height: 100%;

    left: 0;

    top: 0;

    bottom: 0;

    right: 0;

    opacity: 0;

    z-index: 2;

}



.img-thumbnail.img-thumbnail-hover-icon:after {

    -webkit-transition: all 0.2s;

    -moz-transition: all 0.2s;

    transition: all 0.2s;

    font-family: FontAwesome;

    color: #FFF;

    content: "\f00e";

    font-size: 30px;

    height: 30px;

    position: absolute;

    top: 30%;

    margin-top: -15px;

    display: block;

    text-align: center;

    width: 100%;

    opacity: 0;

    z-index: 3;

}



.img-thumbnail.img-thumbnail-hover-icon:hover:before {

    opacity: 1;

}



.img-thumbnail.img-thumbnail-hover-icon:hover:after {

    top: 50%;

    opacity: 1;

}



/* Image Gallery */

ul.image-gallery {

    list-style: none;

    margin: 0;

    padding: 0;

}



ul.image-gallery .image-gallery-item {

    margin-bottom: 35px;

}



/* Thumbnail Gallery */

ul.thumbnail-gallery {

    list-style: none;

    margin: 10px 0;

    padding: 0;

}



ul.thumbnail-gallery li {

    display: inline-block;

    margin: 10px 10px 0 0;

    padding: 0;

}
.mfp-content .ajax-container {

    background: none repeat scroll 0 0 #FFF;

    margin: 40px auto;

    max-width: 1170px;

    padding: 20px 30px;

    position: relative;

    text-align: left;

    display: none;

}



.mfp-content .ajax-container {

    display: block;

}



.mfp-wrap .popup-inline-content {

    display: block;

}



/* Close */

.mfp-close,

.mfp-close-btn-in .mfp-close {

    font-family: "Open Sans", Arial, sans-serif;

    font-weight: 600;

    font-size: 22px;

    color: #838383;

}



/* No Margins */

.mfp-no-margins img.mfp-img {

    padding: 0;

}



.mfp-no-margins .mfp-figure:after {

    top: 0;

    bottom: 0;

}



.mfp-no-margins .mfp-container {

    padding: 0;

}



/* Zoom */

.mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg {

    opacity: 0.001;

    -webkit-backface-visibility: hidden;

    -webkit-transition: all 0.3s ease-out;

    -moz-transition: all 0.3s ease-out;

    -o-transition: all 0.3s ease-out;

    transition: all 0.3s ease-out;

}



.mfp-with-zoom.mfp-ready .mfp-container {

    opacity: 1;

}



.mfp-with-zoom.mfp-ready.mfp-bg {

    opacity: 0.8;

}



.mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg {

    opacity: 0;

}



/* Animnate */

.my-mfp-zoom-in .zoom-anim-dialog {

    opacity: 0;

    -webkit-transition: all 0.2s ease-in-out;

    -moz-transition: all 0.2s ease-in-out;

    -o-transition: all 0.2s ease-in-out;

    transition: all 0.2s ease-in-out;

    -webkit-transform: scale(0.8);

    -moz-transform: scale(0.8);

    -ms-transform: scale(0.8);

    -o-transform: scale(0.8);

    transform: scale(0.8);

}



.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {

    opacity: 1;

    -webkit-transform: scale(1);

    -moz-transform: scale(1);

    -ms-transform: scale(1);

    -o-transform: scale(1);

    transform: scale(1);

}



.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {

    -webkit-transform: scale(0.8);

    -moz-transform: scale(0.8);

    -ms-transform: scale(0.8);

    -o-transform: scale(0.8);

    transform: scale(0.8);

    opacity: 0;

}



.my-mfp-zoom-in.mfp-bg {

    opacity: 0.001;

    /* Chrome opacity transition bug */

    -webkit-transition: opacity 0.3s ease-out;

    -moz-transition: opacity 0.3s ease-out;

    -o-transition: opacity 0.3s ease-out;

    transition: opacity 0.3s ease-out;

}



.my-mfp-zoom-in.mfp-ready.mfp-bg {

    opacity: 0.8;

}



.my-mfp-zoom-in.mfp-removing.mfp-bg {

    opacity: 0;

}



.my-mfp-slide-bottom .zoom-anim-dialog {

    opacity: 0;

    -webkit-transition: all 0.2s ease-out;

    -moz-transition: all 0.2s ease-out;

    -o-transition: all 0.2s ease-out;

    transition: all 0.2s ease-out;

    -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);

    -moz-transform: translateY(-20px) perspective(600px) rotateX(10deg);

    -ms-transform: translateY(-20px) perspective(600px) rotateX(10deg);

    -o-transform: translateY(-20px) perspective(600px) rotateX(10deg);

    transform: translateY(-20px) perspective(600px) rotateX(10deg);

}



.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {

    opacity: 1;

    -webkit-transform: translateY(0) perspective(600px) rotateX(0);

    -moz-transform: translateY(0) perspective(600px) rotateX(0);

    -ms-transform: translateY(0) perspective(600px) rotateX(0);

    -o-transform: translateY(0) perspective(600px) rotateX(0);

    transform: translateY(0) perspective(600px) rotateX(0);

}



.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {

    opacity: 0;

    -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);

    -moz-transform: translateY(-10px) perspective(600px) rotateX(10deg);

    -ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);

    -o-transform: translateY(-10px) perspective(600px) rotateX(10deg);

    transform: translateY(-10px) perspective(600px) rotateX(10deg);

}



.my-mfp-slide-bottom.mfp-bg {

    opacity: 0.01;

    -webkit-transition: opacity 0.3s ease-out;

    -moz-transition: opacity 0.3s ease-out;

    -o-transition: opacity 0.3s ease-out;

    transition: opacity 0.3s ease-out;

}



.my-mfp-slide-bottom.mfp-ready.mfp-bg {

    opacity: 0.8;

}



.my-mfp-slide-bottom.mfp-removing.mfp-bg {

    opacity: 0;

}



/* Fade */

.mfp-fade.mfp-bg {

    opacity: 0;

    -webkit-transition: all 0.15s ease-out;

    -moz-transition: all 0.15s ease-out;

    transition: all 0.15s ease-out;

}



.mfp-fade.mfp-bg.mfp-ready {

    opacity: 0.8;

}



.mfp-fade.mfp-bg.mfp-removing {

    opacity: 0;

}



.mfp-fade.mfp-wrap .mfp-content {

    opacity: 0;

    -webkit-transition: all 0.15s ease-out;

    -moz-transition: all 0.15s ease-out;

    transition: all 0.15s ease-out;

}



.mfp-fade.mfp-wrap.mfp-ready .mfp-content {

    opacity: 1;

}
.mr-xs {
    margin-right: 5px !important;
}
.mb-xs {
    margin-bottom: 5px !important;
}
.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}



.mfp-fade.mfp-wrap.mfp-removing .mfp-content {

    opacity: 0;

}



/* Foto galeri için eklenen css sonu*/

