ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 30px;
}


/* footer social icons */
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoYoutube:hover {
    background-color:#ec1026;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoInstagram:hover {
    background-color:#bc2c72;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoFoursquare:hover {
    background-color:#f94876;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 75px;
    height: 75px;
    font-size:30px;
}
.social-circle li i {
    margin:0;
    line-height:80px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.bg-icon-media {
    background-color: #D3D3D3;
}
hr{
    background: white;
    opacity: 0.2;
}

.footer{
    opacity: 0.8;
    background-color: black;
    padding: 0 200px;
    color: white;
    font-size: 15px;
}

.modal-body{
    text-align: center;
}


@media (max-width: 922px) {
    .social-circle li a {
        display:inline-block;
        position:relative;
        margin:0 auto 0 auto;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        border-radius:50%;
        text-align:center;
        width: 40px;
        height: 40px;
        font-size:20px;
    }
    .social-circle li i {
        margin:0;
        line-height:50px;
        text-align: center;
    }
    ul.social-network li {
    display: inline;
    margin: 0 20px;
}


}


@media (max-width: 568px) {
    .footer{
        opacity: 0.8;
        background-color: black;
        padding: 0 100px;
        color: white;
        font-size: 15px;
    }
    .social-circle li a {
        display:inline-block;
        position:relative;
        margin: 0 -50px 0 -35px;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        border-radius:50%;
        text-align:center;
        width: 40px;
        height: 40px;
        font-size:20px;
    }
    .social-circle li i {
        margin:0;
        line-height:45px;
        text-align: center;
    }

    .modal{
        margin: auto;
        width: 80%;
        height: 50%;
        font-size: 10px;
    }
    .modal-body{
        font-size: 13px;
    }
    .social-network a.icoLinkedin{
        background-color:#007bb7;
    }
    .social-network a.icoFacebook {
        background-color:#3B5998;
    }
    .social-network a.icoTwitter {
        background-color:#33ccff;
    }
    .social-network a.icoGoogle {
        background-color:#BD3518;
    }


}