.navbar{
    background-color: rgba(255, 255, 255, 0.84)!important;
    width: 100%;
    position: fixed;
}
.navbar-nav li{
    padding-right: 9px;
}
.nav-link{
    font-size: 20px;
    color: #291f1f!important;
}
.padding{
    padding-bottom: 2rem;
}
.img-size-logo{
    width: 340px;
    height: 70px;
}
.mevzuat-list a:hover {
    color: #38cc91!important;
    text-decoration: none!important;
}
.container-fluid {
    width: 100%;
    padding-right: 3px;
     padding-left: 7px; 
    margin-right: auto;
    margin-left: auto;
}


.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.84);
}
@media (max-width: 1300px) {
    .navbar-nav .nav-link {
    padding-right: 0!important;
    padding-left: 0!important;
}
.img-size-logo{
    width: 220px;
    height: 58px;
}
.nav-link{
    font-size: 20px;
    /*color: white!important;*/
}
    
}



#navbar {
    display:block;
    transition: top 0.3s;
}
@media (min-width: 930px ) {
    .navbar-nav .nav-item{
        height: 100%;
    }
    .navbar-nav li:hover{
        height: 100%;
        -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    }
   
}

@media (max-width: 801px) {

    .navbar{
        padding: .8rem;
        position: fixed;
        width: 100%;
/*        background: rgba(0,0,0,0.3)!important;*/
    }
    .navbar-nav li{
        padding-right: 0px;
    }
    .navbar-nav li a{
        /*color: white!important;*/
        margin-left: 10px;

    }
    .navbar-nav li a:active{
        /*color: white!important;*/
        /*background: rgba(50,80,70,0.5)!important;*/
        border-radius: 10px;
    }
 
  .img-size-logo{
    width: 132px;
    height: 52px;
    }
}
@media (max-width: 769px) 
{
    .nav-link{
        font-size:13px!important;
    }
}
@media (max-width: 1025px) and (min-width: 769px)
{
  .nav-link{
        font-size: 14px!important;
    }
  /*  .img-size-logo{
    width: 180px;
    height: 52px;
}*/
}

/*@media (max-width: 900px) 
{
    .navbar-expand-md .navbar-toggler
    {
        display:block!important;
    }
    .navbar-collapse
    {
        display: none!important;
    }
}*/

@media (max-width: 568px) {
    .img-size-logo{
        width: 90px;
        height: 28px;
    }
    .navbar{
        padding: .8rem;
        position: fixed;
        width: 100%;
        /*background: rgba(0,0,0,0.3)!important;*/

    }
    .navbar-nav li{
        padding-right: 20px;
    }
    .navbar-nav li a{
        /*color: white!important;*/


    }
    .navbar-nav li a:active{
        /*color: white!important;*/
        /*background: rgba(50,80,70,0.5)!important;*/
        border-radius: 10px;


    }
    .nav-link{
        font-size: 1.1em !important;
    }

}
