

.container{
    position: absolute;
}
.row > .column {
    padding: 0 8px;

}
.bg-glr{
        background-color: rgba(203,175,128,0.3);
}
.row:after {
    content: "";
    display: table;
    clear: both;
}




/* The Modal (background) */
.modal{
    position: fixed;
    z-index: 30;
    padding-top: 100px!important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}
/* Modal Content */
#my-Modal .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 34%;
    max-width: 1200px;
}
/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 70px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
    margin: 10px;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    position: absolute;
    top: 10px;
}

img {
    margin-bottom: -4px;
    height: 350px;
    max-height: 750px!important;
    max-width: 800px!important;
}


.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

figure {
    overflow: hidden;
    margin-top: 1em!important;
}
.bg-glr img.hover-shadow {
    transition: 0.3s;
}
.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover01 figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 768px){
    .column {
        float: left;
        width: 25%;
    }
    .col-xs-12{
        padding-top: 40px;
    }
    .modal{
        display: none;
    }
}
@media (max-width: 1025px){
    .hover-shadow{
        height: 280px;
    }

}
@media (max-width: 801px){
    .hover-shadow{
        height: 180px;
    }
    #my-Modal .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 50%;
    max-width: 1200px;
}

}
@media (min-width: 1680){
   img {
   max-height: 900px!important;
   max-width: 920px!important;
}
@media (max-width: 1681px){
   img {
   max-height: 750px!important;
   max-width: 890px!important;
}
}
