@import "bootstrap-social.less";
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color:#222;
}

.carousel-inner{
    width: 100%;
    height: 100%;
    background-color: black;
}
.carousel-inner img{
    background-color: black;
    opacity: 0.9;
}
.carousel-caption{
    position: absolute;
    top:55%;
    transform: translateY(-50%);

}
.carousel-caption h1{
    font-size:300%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px  #000;
}
.carousel-caption h3{
    font-size:200%;
    font-weight:500;
    text-shadow: 1px 1px 10px  #000;
    padding-bottom:1rem;
}
.btn-success{
    background-color: #41BB8D;
    border: 1px solid #41BB8D;
}
.btn-success:hover{
    background-color: #F56505;
    border: 1px solid #F56505;
}
.padding{
    padding-bottom: 2rem;
}
.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
/* image skill */
.img-slide-size{
    width: 100%;
    height: 900px;
}
.img-size-card{
    width: 50%;
    width: 50%;

}
.card-body{
    margin: 0 auto;
}
/*card-bottom optimize*/
.col-md-3{
    /* Added */
    float: none; /* Added */
    /* Added */
    margin: 0 auto 10px;
}
.card-imd-top{
    width: 100%;
    height: 100%;
    min-height: 350px;
    max-height: 350px;
}
/* for social media css*/
.galeri-my-container{
     width: 100%;
    height: 45%;
    margin-top: 0;
    background: fixed url(../images/image/gallery-bottom.jpg);
    background-size: cover;

}
.galery-my-container-two{
     width: 100%;
    height: 45%;
    margin-top: 0;
    background: fixed url(../images/image/gallery-bottom.jpg);
    background-size: cover;

}
.sayfa-my-container{
     width: 100%;
    height: 45%;
    margin-top: 0;
    background: fixed url(../images/image/library6.jpg);
    background-size: cover;

}
.sayfa-my-container-two{
     width: 100%;
    height: 45%;
    margin-top: 0;
    background: fixed url(../images/image/library6.jpg);
    background-size: cover;

}
.kurumsal-my-container{
    width: 100%;
    height: 45%;
    margin-top: -65px;
    background: fixed url("../images/image/kurumsal.jpg")!important;
    background-size: cover;

}
.kurumsal-my-container-up{
    width: 100%;
    height: 45%;
    background:rgba(50,80,70,0.3)!important;
    opacity: 0.7;
    position: absolute;
}
.kurumsal-my-container-two{
    width: 100%;
    height: 45%;
    margin-top: -65px;
    background:  fixed url("../images/image/kurumsaltwo.jpg") ;
    background-size: cover;

}
.hizmetler-my-container{
     width: 100%;
    height: 40%;
    margin-top: 0;
    background:  fixed url("../images/image/srou-isareti.jpg") ;
    background-size: cover;
}
.hizmetler-my-container-up{
    width: 100%;
    height: 40%;
    background: rgba(50,80,70,0.3)!important;
    opacity: 0.7;
    position: absolute;
}



.my-container{
    width: 100%;
    height: 35%;
    margin-top: -65px;
    background:  fixed url("../images/image/baloncukone.jpg") ;
    background-size: cover;

}
.my-container-up{
    width: 100%;
    height: 35%;
    background: white;
    opacity: 0.7;
    position: absolute;
}
.col-12 p{
    text-align: center;

}
.col-lg-6{
    margin: 0 auto;
    padding: 3%;
    text-align: left;
    background-color: rgba(151,255,255,0.1);
}

.col-lg-6 h1{
    font-size: 50px;
}

.card h4{
    font-size: 20px;
}
.card p{
    font-size: 12px;
}
.display-4{

    font-size: 25px!important;
}
.renk{
    width: 100%;
    height: 12%;
    margin-bottom: 20px;
    background: rgba(151,255,255,0.2)
}
/*this footer setting */
.col-md-4{
    font-size: 14px;
}
 .lead{
        font-size: 16px;
    }
    .col-lg-6 p{
    font-size: 16px;
    }
@media (max-width: 1441px ) {
.card-imd-top{
    width: 100%;
    height: 100%;
    min-height: 300px!important;
    max-height: 300px!important;
}
.img-slide-size{
    width: 100%;
    height: 800px!important;
}
}

@media (max-width: 1025px ) {
.card-imd-top{
    width: 100%;
    height: 100%;
    min-height: 250px!important;
    max-height: 250px!important;
}
.img-slide-size{
    width: 100%;
    height: 600px!important;
}
.lead{
    font-size: 14px;
}
.col-lg-6 p{
    font-size: 14px;
}

}
@media (min-width: 930px ) {
    .card:hover{
        width: 100% ;
        padding: 0 auto;
        margin: 0 auto;
        -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    }
    .col-xs-12{
         width: 100% ;
         padding: 0 auto;
         margin: 0 auto;
         box-shadow: -2px 9px 20px -12px rgba(0, 0, 0, 0.75);
     }
   
    

}


@media (max-width: 922px) {
    .carousel-caption{
        top:55%;
    }
    .carousel-caption h1{
        font-size:250%;
    }
    .carousel-caption h3{
        font-size:160%;
        font-weight:400;
        padding-bottom:2rem;
    }
    .carousel-caption .btn{
        font-size: 95%;
        padding:8px 14px;
    }

    .col-lg-6{
        text-align: center;
    }

    .lead{
        font-size: 12px;
    }
    .col-lg-6 p{
        font-size: 12px;
    }
    .col-md-4{
        font-size: 12px;
    }
    .card-imd-top{
    width: 100%;
    height: 100%;
    min-height: 180px!important;
    max-height: 180px!important;
}
.img-slide-size{
    width: 100%;
    height: 600px!important;
}
}
@media (max-width: 768px) {
    .carousel-caption{
        top:45%;
    }
    .carousel-caption h1{
        font-size:200%;
    }
    .carousel-caption h3{
        font-size:140%;
        font-weight:400;
        padding-bottom:2rem;
    }
    .carousel-caption .btn{
        font-size: 95%;
        padding:8px 14px;
    }
    .card:hover{
        width: 100% ;
        padding: 0 auto;
        margin: 0 auto;

    }
    .col-md-4{
        font-size: 10px;
    }
    .img-slide-size{
    width: 100%;
    height: 400px!important;
}
}

@media (max-width: 568px) {
    .carousel-caption{
        top:45%;
    }
    .carousel-caption h1{
        font-size:100%;
    }
    .carousel-caption h3{
        font-size:110%;
        font-weight:200;
        padding-bottom:1rem;
    }
    .carousel-caption .btn{
        font-size: 95%;
        padding:8px 14px;
    }
    .card:hover{
        width: 100% ;
        padding: 0 auto;
        margin: 0 auto;

    }

    .col-md-4{
        font-size: 10px;
    }
    .img-slide-size{
    width: 100%;
    height: 250px!important;
}
}
