@import "bootstrap-social.less";
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color:#222;
}

.carousel-caption h1{
    opacity: 1!important;
}
.carousel-caption h1{
    font-size: 30px;
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

.card-header h5{
    text-align: center;
    -webkit-box-shadow: -1px 9px 20px -8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 9px 20px -8px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 9px 20px -8px rgba(0, 0, 0, 0.2);
}
.card-header button{
    font-size: 18px;
}
.acordion-text{
    width:100%;
    padding-top: 30px;
    font-family: sans-serif;
    font-weight: bold;

}
.display-3 
{
    margin-top:8%;
}
.img-fluid-hizmetler{
    width: 100%;
    height: 450px!important;
}

.bg-row{
    background-color: rgba(255,255,255,0.9);
}
/*my container */
.my-container{
    width: 100%;
    height: 70%;
    margin-top: -85px;
    background:  fixed url("../images/image/srou-isareti.jpg") ;
    background-size: cover;
}
.my-container-up{
    width: 100%;
    height: 70%;
    background: rgba(50,80,70,0.3)!important;
    background: white;
    position: absolute;
}
.col-lg-5{
    position: center;
}
.bg-card{
    background: fixed url("../images/image/card-backgraound-leave.jpg");
}
.card-header button{
    color: #000;

}
.card-header button:hover{
    color: #000;
}
.display-3{
    text-shadow: 1px 1px 25px  #000;
}

.card-header {
    background-color: rgba(191,198,188,0.2);
    height: 60px!important;
}
.card-header:hover{
    background-color: rgba(60, 179, 113,0.5);
}
@media (max-width: 1441px ) {
.img-fluid-hizmetler{
    height: 450px!important;
}
}
@media (max-width: 1025px ) {
    .img-fluid-hizmetler{
    height: 400px!important;
}
}
@media (max-width: 922px) {
    .acordion-text{
        padding-left:2%;

    }
    .img-fluid-hizmetler{
    height: 350px!important;
}
}
@media (min-width: 930px ) {
}
@media (max-width: 768px) {
    .img-fluid-hizmetler{
    height: 300px!important;
}
}
@media (max-width: 568px){
    .img-fluid-hizmetler{
    height: 200px!important;
}
}
