@import "bootstrap-social.less";
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color:#222;
}

.carousel-caption h1{
    opacity: 1!important;
}
.carousel-caption h1{
    font-size: 30px;
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}
.padding{
    padding-bottom: 2rem;
}


/*my container */
.my-container{
    width: 100%;
    height: 70%;
    margin-top: -85px;
    background:  fixed url("../images/image/kurumsal.jpg") ;
    background-size: cover;
}
.my-container-up{
    width: 100%;
    height: 70%;
    background: rgba(50,80,70,0.3)!important;
    background: white;
    position: absolute;
}
.my-container-two{
    width: 100%;
    height: 70%;
    margin-top: -85px;
    background:  fixed url("../images/image/kurumsaltwo.jpg") ;
    background-size: cover;
}
.my-container-up-two{
    width: 100%;
    height: 70%;
    background: rgba(50,80,70,0.3)!important;
    background: white;
    position: absolute;
}
.my-container-gallery{
    width: 100%;
    height: 50%;
    margin-top: 0;
    background:  fixed url("../images/image/galeri.jpg") ;
    background-size: cover;
}
.my-container-up-gallery{
    width: 100%;
    height: 50%;
    background: rgba(50,80,70,0.3)!important;
    background: white;
    position: absolute;
}
.my-container-gallery-mid{
    width: 100%;
    height: 20%;
    margin-top: 0;
    background:  fixed url("../images/image/galeri.jpg") ;
    background-size: cover;
}
.my-container-mid-gallery{
    width: 100%;
    height: 20%;
    background: rgba(50,80,70,0.3)!important;
    background: white;
    position: absolute;
}
.my-container-gallery-two{
    width: 100%;
    height: 30%;
    margin-top: 0;
    background:  fixed url("../images/image/gallery-bottom.jpg") ;
    background-size: cover;
}
.my-container-up-gallery-two{
    width: 100%;
    height: 30%;
    background: rgba(50,80,70,0.3)!important;
    background: white;
    position: absolute;
}

/* for social media css*/


.text-right-animate {
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: right-animate;
    animation-duration: 4s;
}
.text-left-animate {
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: left-animate;
    animation-duration: 4s;
}

/* Standard syntax */
@keyframes left-animate{
    0%  {left:400px; top:0px;opacity:0;}
    100% { left:0px; top:0px;opacity:1}
}
@keyframes right-animate {
    0%  {right:400px; top:0px;opacity:0;}
    100% { right:0px; top:0px;opacity:1}
}
.lead{
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 20px;
}
.display-6{
    padding-top: 20px;
    font-size: 20px;
    padding-left: 20px;
}
.col-12{
    padding-top: 10px;
}

@media (min-width: 930px ) {

    .back{
        background-color:rgba(100, 75, 80, 0.15);
    }
    .col-lg-6{

    }
    .col-lg-6 img{
        padding-left: 150px;
        padding-bottom: 20px;
        margin: auto;
    }
    .img-mid-size{
        margin-left: -150px;
    }
}


@media (max-width: 922px) {
    .col-md-4{
        font-size: 12px;
    }
    .col-lg-6 img{
        padding-bottom: 20px;
        margin: auto;
    }

}
@media (max-width: 768px) {

    .col-md-4{
        font-size: 10px;
    }
    .col-lg-6 img{
        padding-bottom: 20px;
        margin: auto;
    }

}

@media (max-width: 568px) {

    .col-md-4{
        font-size: 10px;
    }
    .img-size-logo{
        width: 100px;
        height: 32px;
    }
    .img-mid-size{
        position: center;
        padding-: auto;
        padding-bottom: 20px;
        margin: auto;
    }
    .col-lg-6 img{
       padding-bottom: 20px;
        margin: auto;
    }
}
